
.globe{
    /* position: absolute; */
    /* top: 10%; */
    /* z-index: -1; */
    margin-top: 200px;
  }

  
  h1.welcome-msg{
    margin-top: 10px;
    font-family: IndiGoFont;text-align: center;
    margin-bottom: 40px;
  }
  